/* .WeatherCardContainer {
  background-color: #eeee33;
  display: flex;
  flex-direction: row;
} */

.WeatherCardsList {
  padding: 0;
  margin-bottom: 0rem;
  list-style-type: none;
}

.WeatherCardsList,
li {
  zoom: 1;
  display: inline-block;

  /* this fix is needed for IE7- */
}
